{% extends 'base/dashboard_base.html' %}
{% load static %}

{% block content %}




        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">

            <!-- ADMINISTRATORS PAGES -->

            <!-- ========================================================== -->
            {% if page == 'dashboard' %}
              <!-- DASHBOARD PAGE -->


              <!-- Students statistics -->
              <div class="row">
                <div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
                  <div>
                    <h2>O'quvchilar</h2>
                  </div>
                  <div>
                    <form action="" method="GET" style="display: flex;">
                      <i class="mdi mdi-filter-outline" style="position: relative; top: 12px; left: 20px; font-size: 20px;"></i>
                      <select name="" id="" style="text-align: center; padding-left: 25px; border-radius: 5px; border: none; background-color: #fc424a; color: white;">
                        <option value="1 oylik" selected>1 oylik</option>
                        <option value="kvartal">kvartal</option>
                        <option value="yarim yillik">yarim yillik</option>
                        <option value="yillik">yillik</option>
                      </select>
                      <button type="submit" class="btn btn-warning" style="margin-left: 10px;">Qidirish</button>
                    </form>
                  </div>
                </div>
                <div class="col-sm-3 grid-margin" style="text-align: center;">
                  <div class="card">
                    <div class="card-body">
                      <h3>Ro'yhatdan o'tganlar</h3>
                      <hr style="background-color: green; border-top: 5px solid green;">
                      <h2 class="mb-0">{{ students.total_qty }}</h2>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 grid-margin" style="text-align: center;">
                  <div class="card">
                    <div class="card-body">
                      <h3>Tasdiqlanmaganlar</h3>
                      <hr style="background-color: green; border-top: 5px solid green;">
                      <h2 class="mb-0">{{ students.not_verefied_qty }}</h2>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 grid-margin" style="text-align: center;">
                  <div class="card">
                    <div class="card-body">
                      <h3>O'qiyotganlar</h3>
                      <hr style="background-color: green; border-top: 5px solid green;">
                      <h2 class="mb-0">{{ students.studied_qty }}</h2>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 grid-margin" style="text-align: center;">
                  <div class="card">
                    <div class="card-body">
                      <h3>Bitirganlar</h3>
                      <hr style="background-color: green; border-top: 5px solid green;">
                      <h2 class="mb-0">{{ students.graduated_qty }}</h2>
                    </div>
                  </div>
                </div>


                <div class="col-sm-3 grid-margin" style="text-align: center;">
                  <div class="card">
                    <div class="card-body">
                      <h3>Ketganlar</h3>
                      <hr style="background-color: green; border-top: 5px solid green;">
                      <h2 class="mb-0">{{ students.gone_qty }}</h2>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 grid-margin" style="text-align: center;">
                  <div class="card">
                    <div class="card-body">
                      <h3>Online</h3>
                      <hr style="background-color: green; border-top: 5px solid green;">
                      <h2 class="mb-0">{{ students.online_qty }}</h2>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 grid-margin" style="text-align: center;">
                  <div class="card">
                    <div class="card-body">
                      <h3>Offline</h3>
                      <hr style="background-color: green; border-top: 5px solid green;">
                      <h2 class="mb-0">{{ students.offline_qty }}</h2>
                    </div>
                  </div>
                </div>
              </div>
              
              <hr>
              <!-- Course statistics -->
              <div class="row">
                <h2>Kurslar</h2>

                {% for course in courses %}
                  <div class="col-sm-3 grid-margin" style="text-align: center;">
                    <div class="card">
                      <div class="card-body">
                        <h3>{{ course.name }}</h3>
                        <hr style="background-color: green; border-top: 5px solid green;">
                        <h5 class=" font-weight-normal">Faol guruhlar soni: <span style="font-weight: bold; font-size: 20px; margin-left: 20px;">{{ course.groups_qty }}</span></h5>
                        <h5 class=" font-weight-normal">Faol o'quvchilar soni: <span style="font-weight: bold; font-size: 20px; margin-left: 20px;">{{ course.students_qty }}</span></h5>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
                

              <!-- Groups statistics -->
              <!-- <div class="row">
                <h2>Guruhlar - {{ groups_qty }}</h2>
                
                {% for group in groups %}
                  <div class="col-sm-3 grid-margin">
                    <div class="card">
                      <div class="card-body">
                        <h4>{{ group.name }}</h4>
                        <h5 class="text-muted font-weight-normal">Kurs: <span class="text-light">{{ group.course.name }} </span></h5>
                        <h5 class="text-muted font-weight-normal">O'qituvchi: <span class="text-light">{{ group.teacher.first_name }} {{ group.teacher.last_name }}</span></h5>
                        <h5 class="text-muted font-weight-normal">O'quvchilar: <span class="text-light">{{ group.students_qty }}</span></h5>
                        <h5 class="text-muted font-weight-normal">Vaqtlari: <span class="text-light">{{ group.start_time }} - {{ group.end_time }}</span></h5>
                        <h5 class="text-muted font-weight-normal">Kunlari: 
                          <span class="text-light">
                            {% if group.monday %}
                              Dushanba
                            {% endif %}
                            {% if group.tuesday %}
                              Seshanba
                            {% endif %}
                            {% if group.wednesday %}
                              Chorshanba
                            {% endif %}
                            {% if group.thursday %}
                              Payshanba
                            {% endif %}
                            {% if group.friday %}
                              Juma
                            {% endif %}
                            {% if group.saturday %}
                              Shanba
                            {% endif %}
                            {% if group.sunday %}
                              Yakshanba
                            {% endif %}
                          </span>
                        </h5>
                        <div class="row">
                          <div class="col-8 col-sm-12 col-xl-8 my-auto">
                            <div class="d-flex d-sm-block d-md-flex align-items-center">
                              <h2 class="mb-0">{{ total_students_qty }}</h2>
                            </div>
                          </div>
                          <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                            <i class="icon-lg mdi mdi-codepen text-primary ms-auto"></i>
                          </div>
                        </div> 
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>-->


              <!-- <div class="row">
                <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-9">
                          <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">$12.34</h3>
                            <p class="text-success ms-2 mb-0 font-weight-medium">+3.5%</p>
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="icon icon-box-success ">
                            <span class="mdi mdi-arrow-top-right icon-item"></span>
                          </div>
                        </div>
                      </div>
                      <h6 class="text-muted font-weight-normal">Potential growth</h6>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-9">
                          <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">$17.34</h3>
                            <p class="text-success ms-2 mb-0 font-weight-medium">+11%</p>
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="icon icon-box-success">
                            <span class="mdi mdi-arrow-top-right icon-item"></span>
                          </div>
                        </div>
                      </div>
                      <h6 class="text-muted font-weight-normal">Revenue current</h6>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-9">
                          <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">$12.34</h3>
                            <p class="text-danger ms-2 mb-0 font-weight-medium">-2.4%</p>
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="icon icon-box-danger">
                            <span class="mdi mdi-arrow-bottom-left icon-item"></span>
                          </div>
                        </div>
                      </div>
                      <h6 class="text-muted font-weight-normal">Daily Income</h6>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-sm-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-9">
                          <div class="d-flex align-items-center align-self-start">
                            <h3 class="mb-0">$31.53</h3>
                            <p class="text-success ms-2 mb-0 font-weight-medium">+3.5%</p>
                          </div>
                        </div>
                        <div class="col-3">
                          <div class="icon icon-box-success ">
                            <span class="mdi mdi-arrow-top-right icon-item"></span>
                          </div>
                        </div>
                      </div>
                      <h6 class="text-muted font-weight-normal">Expense current</h6>
                    </div>
                  </div>
                </div>
              </div>  -->
            <!-- =========================================================== -->


            <!-- =========================================================== -->
            {% elif page == 'groups' %}
              <!-- Groups page -->
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-title">Guruhlar </h3>
                    <div style="display: flex; justify-content: space-between;" class="mb-4">
                      <div>
                        <button class="btn btn-primary addGroup" id='addGroupID' onclick="addGroupOpen()">Yangi guruh</button>
                      </div>
                      <div>
                        <form action="" method="GET">
                          <select name="teacher_id" class="btn btn-light p-3" >
                            <option value="all" selected>O'qituvchilar</option>
                            {% for teacher in teachers %}
                              <option value="{{ teacher.id }}">{{ teacher.first_name }}</option>
                            {% endfor %}
                          </select>
                          <select name="course" class="btn btn-light p-3" >
                            <option value="all" selected>Kurslar</option>
                            <option value="online">Online</option>
                            <option value="offline">Offline</option>
                            <option value="hibrid">Aralash</option>
                          </select>
                          <button class="btn btn-warning">Qidirish</button>
                          <input type="hidden" name="page" value="groups">
                        </form>
                      </div>
                    </div>
                    <!-- <p class="card-description"> Add class <code>.table-bordered</code></p> -->
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th class="text-light"> # </th>
                            <th class="text-light"> O'qituvchi </th>
                            <th class="text-light"> Guruh nomi </th>
                            <th class="text-light"> Kurs </th>
                            <th class="text-light"> Guruh turi </th>
                            <th class="text-light"> Guruh vaqti </th>
                            <th class="text-light"> Kunlari </th>
                            <th class="text-light"> O'quvchilar soni </th>
                            <th class="text-light"> Action </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for group in groups %}
                            <tr>
                              <td> 1 </td>
                              <td> <a href="{% url 'administrator_dashboard' %}?page=group_attendancy&group_id={{ group.id }}">{{ group.teacher.first_name }} {{ group.teacher.last_name }}</a> </td>
                              <td>
                                {{ group.name }}
                              </td>
                              <td> {{ group.course.name }} </td>
                              <td> 
                              {% if group.group_type == 'hibrid' %}
                                aralash
                              {% else %}
                                {{ group.group_type }}
                              {% endif %}
                              </td>
                              <td> {{ group.start_time }} - {{ group.end_time }} </td>
                              <td> <span>
                                {% if group.monday %}
                                  Dushanba /
                                {% endif %}
                                {% if group.tuesday %}
                                  Seshanba /
                                {% endif %}
                                {% if group.wednesday %}
                                  Chorshanba /
                                {% endif %}
                                {% if group.thursday %}
                                  Payshanba /
                                {% endif %}
                                {% if group.friday %}
                                  Juma
                                {% endif %}
                                {% if group.saturday %}
                                  Shanba
                                {% endif %}
                                {% if group.sunday %}
                                  Yakshanba /
                                {% endif %}
                              </span></td>
                              <td> {{ group.students_qty }} </td>
                              <td>
                                <i style="padding: 7px; color: #fff; background-color: yellow; " class="mdi mdi-border-color"></i>
                                <i style="padding: 7px; color: #fff; background-color: red;" class="mdi mdi-delete"></i>
                              </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            <!-- ============================================================ -->


            <!-- =========================================================== -->
            {% elif page == 'lessons' %}
              <!-- Groups page -->
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div style="display: flex; justify-content: space-between;" class="mb-4">
                      <div>
                        <h4 class="card-title">Darslar </h4>
                      </div>
                      <div>
                        <!-- <form action="" method="GET">
                          <select name="teacher_id" class="btn btn-light p-3" >
                            <option value="all" selected>O'qituvchilar</option>
                            {% for teacher in teachers %}
                              <option value="{{ teacher.id }}">{{ teacher.first_name }}</option>
                            {% endfor %}
                          </select>
                          <button class="btn btn-warning">Qidirish</button>
                          <input type="hidden" name="page" value="groups">
                        </form> -->
                        <a href="{% url 'administrator_dashboard' %}?page=group_attendancy&group_id={{ group_id }}">
                          <button class="btn btn-warning">Davomat</button>
                        </a>
                      </div>
                    </div>
                    <!-- <p class="card-description"> Add class <code>.table-bordered</code></p> -->
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th class="text-light"> Dars No </th>
                            <th class="text-light"> Yaratildi </th>
                            <th class="text-light"> Boshlangan vaqt </th>
                            <th class="text-light"> Tugatilgan vaqt </th>
                            <th class="text-light"> Kelganlar soni </th>
                            <th class="text-light"> Kelmaganlar soni </th>
                            <th class="text-light"> Holati </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for lesson in lessons %}
                            <tr>
                              <td> {{ lesson.lesson_number }} </td>
                              <td> {{ lesson.created_at }} </td>
                              <td> {{ lesson.start_time }} </td>
                              <td> {{ lesson.end_time }} </td>
                              <td> {{ lesson.came_qty }} </td>
                              <td> {{ lesson.not_came_qty }} </td>
                              <td> 
                              {% if lesson.status == 'started' %}
                                Boshlandi
                              {% else %}
                                Tugatildi
                              {% endif %}
                              </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            <!-- ============================================================ -->


            <!-- ============================================================ -->
            {% elif page == 'group_attendancy' %}
              <!-- Groups page -->
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h3 class="card-title">Pereklichka </h3>
                    <br>
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th class="text-light"> # </th>
                            <th class="text-light"> O'quvchilar </th>
                            {% for day in days %}
                              <th class="text-light"> {{ day }} </th>
                            {% endfor %}
                          </tr>
                        </thead>
                        <tbody>
                          {% for student in students %}
                            <tr style="text-align: center;">
                              <td style="background-color: #fff; color: black;">{{ student.order }}</td>
                              <td style="background-color: blue; color: #fff;">{{ student.student.first_name }}</td>
                              {% for att in student.atts %}
                                {% if att == 1 %}
                                  <td style="background-color: rgb(2, 190, 2); color: white;">
                                    Y
                                  </td>
                                {% elif att == 2 %}
                                  <td style="background-color: crimson; color: white;">
                                    N
                                  </td>
                                {% else %}
                                  <td>

                                  </td>                                    
                                {% endif %}
                              {% endfor %}
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            <!-- ============================================================ -->


            <!-- ============================================================ -->
            {% elif page == 'teachers' %}
              <!-- stidents page -->
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div style="display: flex; justify-content: space-between;" class="mb-4">
                      <div>
                        <h4 class="card-title">O'qituvchilar </h4>
                      </div>
                      <div>
                        <form action="" method="GET">
                          <select name="teacher_id" class="btn btn-light p-3" >
                            <option value="all" selected>O'qituvchilar</option>
                            {% for teacher in teachers %}
                              <option value="{{ teacher.id }}">{{ teacher.first_name }}</option>
                            {% endfor %}
                          </select>
                          <button class="btn btn-warning">Qidirish</button>
                          <input type="hidden" name="page" value="groups">
                        </form>
                      </div>
                    </div>
                    <!-- <p class="card-description"> Add class <code>.table-bordered</code></p> -->
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th class="text-light"> # </th>
                            <th class="text-light"> Ismi </th>
                            <th class="text-light"> Familiyasi </th>
                            <th class="text-light"> Raqami </th>
                            <th class="text-light"> Guruhlar soni</th>
                            <th class="text-light"> O'quvchilar soni </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for teacher in teachers %}
                            <tr>
                              <td>1</td>
                              <td>{{ teacher.first_name }}</td>
                              <td>{{ teacher.last_name }}</td>
                              <td>{{ teacher.phone_number }}</td>
                              <td>{{ teacher.groups_qty }}</td>
                              <td>{{ teacher.students_qty }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>


            <!-- ============================================================ -->
            {% elif page == 'students' %}
              <!-- stidents page -->
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div style="display: flex; justify-content: space-between;" class="mb-4">
                      <div>
                        <h4 class="card-title">O'quvchilar </h4>
                      </div>
                      <div>
                        <form action="" method="GET">
                          <select name="teacher_id" class="btn btn-light p-3" >
                            <option value="all" selected>O'qituvchilar</option>
                            {% for teacher in teachers %}
                              <option value="{{ teacher.id }}">{{ teacher.first_name }}</option>
                            {% endfor %}
                          </select>
                          <button class="btn btn-warning">Qidirish</button>
                          <input type="hidden" name="page" value="groups">
                        </form>
                      </div>
                    </div>
                    <!-- <p class="card-description"> Add class <code>.table-bordered</code></p> -->
                    <div class="table-responsive">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th class="text-light"> # </th>
                            <th class="text-light"> Ismi </th>
                            <th class="text-light"> Familiyasi </th>
                            <th class="text-light"> Raqami </th>
                            <th class="text-light"> Guruhlar </th>
                            <th class="text-light"> Tasdiqlandi </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for student in students %}
                            <tr>
                              <td>1</td>
                              <td>{{ student.first_name }}</td>
                              <td>{{ student.last_name }}</td>
                              <td>{{ student.phone_number }}</td>
                              <td>{{ student.first_name }}</td>
                              <td>{{ student.first_name }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
            
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- main-panel ends -->
      
      
      
      
      </div>
      <!-- page-body-wrapper ends -->
    </div>

    {% endblock content %}